@import "zen";

$zen-column-count:  14;
$zen-gutter-width:  20px;
$zen-grid-width:    100%;


$zen-auto-include-item-base: false;

//.panel-3col-stacked,
//.panel-col-top,
//.panel-col-first,
//.panel-col-last,
//.panel-col-bottom,
//.panel-col {
//  @include zen-grid-item-base();
//}

.grid-container {
  @include zen-grid-container;
}

.panel-3col-stacked .panel-col-top {
  @include zen-grid-item(11,1);
}

.panel-3col-stacked .panel-col-top .inside {
  margin-bottom: .5em;
  img {
    border-radius: 14px;
  }
}

.panel-3col-stacked .panel-col-first {
  @include zen-grid-item(3,1);
  @include zen-clear();
}

.panel-3col-stacked .panel-col .inside {
  margin: 0 .5em 1em .5em;
}

.panel-3col-stacked .panel-col {
  @include zen-grid-item(8,4);
}

.panel-3col-stacked .panel-col .inside {
  margin: 0 .5em 1em .5em;
}

.panel-3col-stacked .panel-col-last {
  @include zen-grid-item(3, 1, right);
}

.panel-3col-stacked .panel-col-last .inside {
  margin: 0 0 1em .5em;
}

.panel-3col-stacked .panel-col-bottom {
  @include zen-grid-item(11, 1, right);
  @include zen-clear(right);

}

.panel-3col-stacked .panel-separator {
  margin: 0 0 1em 0;
}
